/* Layout umum */
html, body {
  width: 100%;
  height: 100%;
  background: lightblue;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Area tombol dan stats */
.controls {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
}

button {
  background: white;
  color: black;
  border-radius: 5px;
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
  font-size: 18pt;
  font-weight: bold;
}
/* Reset game */
.reset-btn {
  background: white;
  color: black;
  border-radius: 5px;
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
  font-size: 18pt;
  font-weight: bold;
}

.disabled {
  color: grey;
  pointer-events: none;
}

.stats {
  color: white;
  font-size: 14pt;
  font-weight: bold;
}

.board-container {
  position: relative;
}

/* Board dan win screen */
.board, .win {
  border-radius: 5px;
  box-shadow: 0 25px 50px rgba(33, 33, 33, 0.25);
  background: white;
  transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
  backface-visibility: hidden;
}

.board {
  padding: 20px;
  display: grid;
  grid-gap: 20px;
}

.board-container.flipped .board {
  transform: rotateY(180deg) rotateZ(50deg);
}

.board-container.flipped .win {
  transform: rotateY(0) rotateZ(0);
}

/* Kartu */
.card {
  position: relative;
  width: 100px;
  height: 100px;
  cursor: pointer;
  perspective: 1000px;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: transform 0.6s;
  backface-visibility: hidden;
}

.card-front {
  background: grey;
  z-index: 2;
}

.card-back {
  transform: rotateY(180deg);
}

.card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  display: block;
}

.card.flipped .card-front {
  transform: rotateY(180deg);
}

.card.flipped .card-back {
  transform: rotateY(0deg);
}

/* Win screen */
.win {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.9);
  transform: rotateY(180deg) rotateZ(50deg);
  padding: 40px;
  font-size: 20px;
}

/* Highlight result */
.highlight {
  color: red;
  font-weight: bold;
}

/* Setting tampilan untuk layar hp  */
@media screen and (max-width: 480px){
  html, body {
  width: 100%;
  height: 100%;
  background: lightblue;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Area tombol dan stats */
.controls {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
}

button {
  background: white;
  color: black;
  border-radius: 5px;
  padding: 10px 10px;
  border: 0;
  cursor: pointer;
  font-size: 14pt;
  font-weight: bold;
}

/* Reset game */
.reset-btn {
  background: white;
  color: black;
  border-radius: 5px;
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
  font-size: 18pt;
  font-weight: bold;
}

.disabled {
  color: grey;
  pointer-events: none;
}

.stats {
  color: white;
  font-size: 11pt;
  font-weight: bold;
}

.board-container {
  position: relative;
}

/* Board dan win screen */
.board, .win {
  border-radius: 5px;
  box-shadow: 0 25px 50px rgba(33, 33, 33, 0.25);
  background: white;
  transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
  backface-visibility: hidden;
}

.board {
  object-fit: cover;
  aspect-ratio: 1/1;
  padding: 10px;
  display: grid;
  grid-gap: 10px;
}

.board-container.flipped .board {
  transform: rotateY(180deg) rotateZ(50deg);
}

.board-container.flipped .win {
  transform: rotateY(0) rotateZ(0);
}

/* Kartu */
.card {
  position: relative;
  width: 75px;
  height: 75px;
  cursor: pointer;
  perspective: 1000px;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: transform 0.6s;
  backface-visibility: hidden;
}

.card-front {
  background: grey;
  z-index: 2;
}

.card-back {
  transform: rotateY(180deg);
}

.card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  display: block;
}

.card.flipped .card-front {
  transform: rotateY(180deg);
}

.card.flipped .card-back {
  transform: rotateY(0deg);
}

/* Win screen */
.win {
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 85%;
  object-fit: cover;
  aspect-ratio: 1/1;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.9);
  transform: rotateY(180deg) rotateZ(50deg);
  padding: 40px;
  font-size: 20px;
}

/* Highlight result */
.highlight {
  color: red;
  font-weight: bold;
}

}